<%= form_for(@sport) do |f| %>
  <% if current_page?(:controller => controller_name, :action => 'new') %>
    <label>Creating New Sport:</label><br>  
  <% elsif current_page?(:controller => controller_name, :action => 'edit')%>
    <label>Editing Sport:</label><br> 
  <% end %>
  <label>Sport Name:</label><br>
 <%= label_text_field(@sport, f, :name) %><br>
  <label>Description:</label><br>
  <%= label_text_field(@sport, f, :description) %><br>
  <% if !current_page?(:controller => controller_name, :action => 'show', :id => @sport.id.to_s)%>
     <% params[:form_action] = :action %>
  <% else %>
    <% params[:form_action] = "show"%>
  <% end %>
  <% if owns_record(@sport) then %>
    <%= f.submit  submit_text(@sport) %>
  <%end%>
<% end %>