<h1>Sports</h1>
<div style="float:left; width: auto;">
  <%= button_to "New", '/sports/new', method: :get%>
</div>
<br><br>
<% @sports.each do |s|%>
  <div style="float:left; width: auto;">
    <%= s.name %> <%= s.description%> 
  </div>
  <%if current_user then%> 
    <div style="float:left; width: auto;">
      <%= button_to "Edit", user_sports_path(s) + '/' + s.id.to_s + '/edit', method: :get%>
    </div>
  <%end%>
  <br><br>
<% end %>