<h1>Events</h1>
 <%if current_user then%> 
  <div style="float:left; width: auto;">
    <%= button_to "New", '/events/new', method: :get%>
  </div>
<%end%>
<br><br>
<% @events.each do |e|%>
  <div style="float:left; width: auto;">
    <%= e.name %> <%= e.description%> 
  </div>
  <%if current_user then%> 
    <div style="float:left; width: auto;">
      <%= button_to "Edit", event_url(e) + '/edit', method: :get%>
    </div>
    <br><br>
  <%end%>
<% end %>