<h1>Locations</h1>
<div style="float:left; width: auto;">
  <%= button_to "New", '/locations/new', method: :get%>
</div>
<br><br>
<% @locations.each do |l|%>
  <div style="float:left; width: auto;">
    <%= l.name %> <%= l.description%> 
  </div>
  <%if current_user then%> 
    <div style="float:left; width: auto;">
      <%= button_to "Edit", '/locations/' + l.id.to_s + '/edit', method: :get%>
    </div>
  <%end%>
  <br><br>
<% end %>