<div><h1>WaterSportsCentral</h1></div>
<div>
  <%if !current_user then%>
    <%= button_to "Login", '/login', method: :get%>
  <%else %>
    <%= button_to "Logout", '/logout', method: :get%>
  <%end%>
</div>