<div><h1>WaterSportsCentral</h1></div>
<div>
  <%if !current_user then%>
    <%= button_to "Login", '/login', method: :get%>
  <%else %>    
    <div float:left;>
      <%= button_to "Profile", '/users/' + session[:user_id].to_s, method: :get%>
     </div>
     <div float:left;>
      <%= button_to "Logout", '/logout', method: :get%>
    </div>
   
  <%end%>
</div>